{% extends "base.html" %}

{% block content %}

    <h1>New post</h1>
    <form method="POST" enctype="multipart/form-data" class="post-form form-horizontal">{% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">{{ form.name.label }}</label>
              <div class="col-md-4">
                {{ form.name }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="surname">{{ form.surname.label }}</label>
              <div class="col-md-4">
                 {{ form.surname }}
              </div>
            </div>
            <!-- Text date-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="surname">{{ form.birthdate.label }}</label>
              <div class="col-md-4">
                 {{ form.birthdate }}
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bio">{{ form.bio.label }}</label>
              <div class="col-md-4">
                  {{ form.bio }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="phone">{{ form.phone.label }}</label>
              <div class="col-md-4">
                {{ form.phone }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="skype">{{ form.skype.label }}</label>
              <div class="col-md-4">
                {{ form.skype }}
              </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="photo">{{ form.photo.label }}</label>
              <div class="col-md-4">
                  {{ form.photo }}
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Отправить</button>
              </div>
            </div>

        </fieldset>
    </form>

    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Имя</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Фамилия</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Биография</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Телефон</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Скайп</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Фото</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Отправить</button>
  </div>
</div>

</fieldset>
</form>
